@if (etapaService.isCreateMode()) {
<div class="flex justify-end mb-4">
    <button pButton type="button" label="Agregar etapa" icon="pi pi-plus" (click)="etapaService.addDraftEtapa()"
        [disabled]="etapaService.saving() || etapaService.creatingDrafts()"
        pTooltip="Agregar etapa" tooltipPosition="top"></button>
</div>
}

<p-timeline [value]="etapaService.timelineEtapas()">
    <ng-template #marker let-event>
        <span class="flex w-8 h-8 items-center justify-center rounded-full z-10 shadow-sm" [style]="{
                'background-color': proyectoService.getEtapaStatusColor(event.estado),
                'color': proyectoService.getEtapaStatusTextColor(event.estado)
            }">
            {{ event.orden }}
        </span>
    </ng-template>
    <ng-template pTemplate="content" let-etapa>
        <div class="flex flex-col gap-2 mb-6">
            <div class="flex items-center justify-between gap-2">
                <p-tag [value]="etapa.estado" [style]="{
                'background-color': proyectoService.getEtapaStatusColor(etapa.estado),
                'color': proyectoService.getEtapaStatusTextColor(etapa.estado)
            }" class="flex-1 h-8" />

                <!-- Editar etapa -->
                @if(isEditable(etapa)) {
                <button pButton type="button" icon="pi pi-pencil" class="h-8" (click)="etapaService.startEdit(etapa)"
                    [disabled]="etapaService.saving() || proyectoService.proyectoPausado() || etapaService.editingId() !== null"
                    pTooltip="Editar etapa" tooltipPosition="top" [style]="{
                        'background-color': proyectoService.getEtapaStatusColor(etapa.estado),
                        'color': proyectoService.getEtapaStatusTextColor(etapa.estado),
                        'border-color': 'transparent'
                    }">
                </button>
                }

                <!-- Iniciar etapa -->
                @if(etapaService.canStartEtapa(etapa)) {
                <button pButton type="button" icon="pi pi-play" class="h-8 bg-blue-500!"
                    (click)="etapaService.startEtapa(etapa)" [disabled]="etapaService.saving()" pTooltip="Iniciar etapa"
                    [tooltipPosition]="'top'">
                </button>
                }

                <!-- Completar etapa -->
                @if(etapaService.canCompleteEtapa(etapa)) {
                <button pButton type="button" icon="pi pi-check" class="h-8 bg-green-500!"
                    (click)="etapaService.completeEtapa(etapa)" [disabled]="etapaService.saving()"
                    pTooltip="Completar etapa" [tooltipPosition]="'top'">
                </button>
                }
            </div>
            <app-etapa-detalles-form [etapa]="etapa" />
        </div>
    </ng-template>
</p-timeline>